.material-icons{
    display: none;
}
.logo{
    float: left;
    margin-top: 30px;
}
.logo:hover{
    opacity: 0.5;
}
.tabs{
    margin-top: 30px;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
}
.tabs .tab a {
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    transition: top 0.1s;
}
.fixed {
    transition: top 0.2s;
    top: -25px;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: black;
}
.tabs .indicator {
    background-color: black;
}
.tabs .tab a:hover{
    opacity: 0.5;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: black;
    cursor: default;
}
.section{
    background-color: #FF9600;
    color: white;
}
.section .row h2{
    font-family: "Montserrat" !important;
    text-align: center;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    font-size: 90px !important;
    padding-bottom: 140px;
    padding-top: 80px;
}
.section_1{
    text-align: center;
}
.section_2{
    background-color: #1E2330;
    color: #FFFFFF;
}
.banner_2{
    overflow: hidden;
    padding: 140px 0px 60px 60px;
    max-width: 700px;
    float: right;
}
.secton_2_p{
    margin: 230px 40px 40px 40px;
    text-align: center;
    font-size: 30px;
}
.section_2_p2{
    font-size: 16px !important;
    text-align: left;
    line-height: 30px !important;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.section_2_p3{
    color: #818181;
    margin-bottom: 100px;
    }
.section_3_h2{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}
.section_3_p1{
    color: #818181;
    text-align: center;
    margin-bottom: 40px;
}
.section_3_h3{
    text-align: left;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}
.section_3_p3{
    text-align: left;
    color: #818181;
}
.section_3{
    margin-bottom: 100px;
}
.footer{
    padding-top: 80px;
    border-top: 1px solid #eeeeee;
}
.footer_h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.mail_a{
    color: #818181;
}
.mail_a:hover{
    text-decoration: underline;
    opacity: 0.5;
}
.footer_p{
    color: #818181;
    margin-bottom: 120px;
}
.h2_about_section_2{
    margin-top: 160px;
}
.h_2_{
    font-size: 30px;
}
.p_about{
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 200px;
    color: #818181;
}
.contact_a{
    color: #818181;
}
.contact_a:hover{
    opacity: 0.5;
    text-decoration: underline;
}
.footer_p_contact{
    color: #818181;
    text-align: center;
    margin: 120px 0 200px 0;
    font-size: 15px;
    line-height: 1.9;
}
.p_contact{
    font-size: 15px;
    color: #818181;
    margin-bottom: 100px;
    line-height: 1.5;
}
.section_3_p2{
    color: #818181;
}
.footer_p_contact>a{
    color: #818181;
}
.userView{
    width: 100%;
    height: 100px;
}
.background{
    margin-top: 20px;
}

@media only screen and (max-width: 1440px) {
    .section .row h2{
        font-family: "Montserrat" !important;
        text-align: center;
        font-weight: 600 !important;
        letter-spacing: 1px !important;
        font-size: 70px !important;
        padding-bottom: 140px;
        padding-top: 80px;
    }
    .secton_2_p{
        margin: 230px 40px 40px 40px;
        text-align: center;
        font-size: 26px;
    }
    .banner_2{
        overflow: hidden;
        padding: 140px 0px 60px 60px;
        max-width: 600px;
        float: right;
    }
}
@media only screen and (max-width: 1024px){
    .section .row h2{
        font-family: "Montserrat" !important;
        text-align: center;
        font-weight: 500 !important;
        letter-spacing: 1px !important;
        font-size: 50px !important;
        padding-bottom: 140px;
        padding-top: 80px;
    }
    .banner_2{
        overflow: hidden;
        padding: 140px 0px 60px 60px;
        max-width: 500px;
        float: right;
    }
    .secton_2_p{
        margin: 180px 60px 40px 40px;
        text-align: center;
        font-size: 22px;
    }
}
@media only screen and (max-width: 768px){
    .secton_2_p{
        margin: 120px 40px 40px 40px;
        text-align: center;
        font-size: 22px;
    }
    .banner_2{
        overflow: hidden;
        padding: 60px 0px 0px 120px;
        max-width: 600px;
        float: right;
    }
    .section_2_p2{
        font-size: 14px !important;
        text-align: left;
        line-height: 20px !important;
        font-weight: 200;
        letter-spacing: 0.02em;
    }
    .section_2_p3{
        margin-bottom: 80px;
        font-size: 14px;
    }
    .section_3_p1{
        margin-left: 10px;
        margin-right: 30px;
    }
    .footer_h2{
        font-size: 24px;
        margin-right: 80px;
    }
}
@media only screen and (max-width: 425px){
    .logo{
        margin-top: 16px;
    }
    .fixed {
        top: 0px;
    }
    .container{
        width: 100% !important;
    }
    .material-icons{
        display: inline;
        color: black;
        margin-left: 20px;
        font-size: 40px;
    }
    .side-nav{
        text-align: center;
    }
    .tabs{
        display: none;
    }
    .section .row h2{
        font-family: "Montserrat" !important;
        text-align: center;
        font-weight: 400 !important;
        letter-spacing: 1px !important;
        font-size: 40px !important;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .section_1 .row h2{
        margin-top: 60px !important;
        font-size: 26px ;
    }
    .section_1 .row p{
        line-height: 20px !important;
        padding-bottom: 40px !important;
    }
    .secton_2_p{
        margin: 50px 20px 20px 20px;
        text-align: center;
        font-size: 18px;
    }
    .banner_2{
        overflow: hidden;
        padding: 40px 0px 0px 20px;
        max-width: 360px;
    }
    .section_2_p3{
        margin-bottom: 40px;
        font-size: 14px;
    }
    .section_3_h2{
        font-size: 26px;
        text-align: center;
        padding-top: 40px;
    }
    .section_3_h3{
        margin: 20px 20px 20px 20px;
        font-size: 26px;
    }
    .section_3_p2{
        margin: 0px 20px 0px 20px;
    }
    .footer_h2{
        font-size: 26px;
        margin: 0px 20px 20px 20px;
    }
    .footer_p{
        margin-bottom: 60px;
    }
    .logo{
        margin-left: 10px;
    }
    .footer{
        padding-top: 40px;
    }
    .h2_about_section_2{
        font-size: 28px;
        margin-left: 10px;
    }
    .h_2_{
        font-size: 28px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .p_about{
        margin: 0 10px 200px 10px;
    }
    .p_contact{
        margin-left: 10px;
    }
    .footer_p_contact{
        margin: 80px 0 120px 0;
    }
}
@media only screen and (max-width: 375px){
    .logo{
        margin-left: 10px;
        margin-top: 14px;
    }
    .section{
        margin-top: 30px;
    }
    .secton_2_p{
        margin: 40px 40px 10px 20px;
    }
    .banner_2{
        padding: 20px 20px 0px 20px;
        max-width: 340px;
    }
    .section_3_h2{
        font-size: 22px;
        padding-top: 20px;
        margin: 0px 20px 0px 20px;
    }
    .section_3_h3{
        margin: 20px 20px 20px 20px;
        font-size: 22px;
    }
    .footer_h2{
        font-size: 22px;
    }
    .h_2_{
        font-size: 26px;
    }
}
@media only screen and (max-width: 320px){
    .logo{
        margin-left: 20px;
        margin-top: 14px;
    }
    .tabs{
        display: none;
    }
    .secton_2_p {
        margin: 40px 80px 10px 20px;
    }
    .banner_2{
        padding: 20px 70px 0px 20px;
        max-width: 320px;
    }
}
